header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0px;
   }

header div.logo_pic{
    width: 150px;
    height: 70px;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 20px;
}