body {
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    /* border: black solid 05px; */
    max-width: 1000px;
    margin-top: 30px auto;
    margin-bottom: 30px auto;

}